{% extends "bootstrap.html" %}

{% load staticfiles %}

{% block title %}乐奇产品{% endblock %}

{% block headstyle %}

.container-fluid {
    margin-top: 10px;
}

.thumbnail {
    text-align: center;
}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-md-12 col-xs-12">-->
                <!--<div class="page-header">-->
                    <!--<h1>浴室暖房换气设备</h1>-->
                <!--</div>-->
            <!--</div>-->
            {% for item in ventilation %}
            <div class="col-md-6 col-xs-6">
                <div class="thumbnail">
                    <a href="{{ item.redirect }}">
                        <img src="{% static '' %}img/{{ item.image }}/nav.jpg" alt="">
                    </a>
                    <!--<div class="caption">-->
                        <h6>{{ item.categories }}</h6>
                        <!--<p>...</p>-->
                        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                    <!--</div>-->
                </div>
            </div>
            {% endfor %}

            <!--<div class="col-md-12 col-xs-12">-->
                <!--<div class="page-header">-->
                    <!--<h1>新风通风设备</h1>-->
                <!--</div>-->
            <!--</div>-->
            {% for item in aeration %}
            <div class="col-md-6 col-xs-6">
                <div class="thumbnail">
                    <a href="{{ item.redirect }}">
                        <img src="{% static '' %}img/{{ item.image }}/nav.jpg" alt="">
                    </a>
                    <!--<div class="caption">-->
                        <h6>{{ item.categories }}</h6>
                        <!--<p>...</p>-->
                        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                    <!--</div>-->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
