{% extends "bootstrap.html" %}

{% load staticfiles %}

{% block title %}乐奇产品子系列{% endblock %}

{% block headstyle %}

.nav {
    margin-top: 10px;
}

.tab-content {
    margin-top: 5px;
}

.top20 {
	margin-top: 20px;
}

.table {
    font-size: 11px;
}

.table td,
.table th{
    text-align: center;
}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">详情</a></li>
                    <li role="presentation"><a href="#origin" aria-controls="origin" role="tab" data-toggle="tab">大图</a></li>
                    <li role="presentation"><a href="#rule" aria-controls="rule" role="tab" data-toggle="tab">规格</a></li>
                    <li role="presentation"><a href="#model" aria-controls="model" role="tab" data-toggle="tab">型号</a></li>
                    <!--<li role="presentation"><a href="#drinking" aria-controls="drinking" role="tab" data-toggle="tab">末端直饮机</a></li>-->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="detail">
                        <img class="carousel-inner img-responsive top20" src="{% static '' %}img/{{ path }}/intr1.jpg" alt="">
                        <img class="carousel-inner img-responsive" src="{% static '' %}img/{{ path }}/intr2.jpg" alt="">
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="origin">
                        <img class="carousel-inner img-responsive top20" src="{% static '' %}img/{{ path }}/origin.jpg" alt="">
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="rule">
                        <table class="table table-striped table-bordered table-hover table-responsive table-condensed top20">
                            <tr>
                                {% for td in spec_th %}
                                    <td>{{ td.verbose_name }}</td>
                                {% endfor %}
                            </tr>
                            {% for tr in spec %}
                                <tr>
                                {% for td in tr %}
                                    <td>{{ td }}</td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="model">
                        <table class="table table-striped table-bordered table-hover table-responsive table-condensed top20">
                            {% for tr in equipment %}
                                <tr>
                                {% for td in tr.values %}
                                    <td>{{ td }}</td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!--<div role="tabpanel" class="tab-pane fade" id="drinking">-->
                        <!--<table class="table table-striped table-bordered table-hover table-responsive">-->
                            <!--{% for tr in drinking %}-->
                                <!--<tr>-->
                                <!--{% for td in tr %}-->
                                    <!--<td>{{ td }}</td>-->
                                <!--{% endfor %}-->
                                <!--</tr>-->
                            <!--{% endfor %}-->
                        <!--</table>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
