{% extends "bootstrap.html" %}

{% block title %}曙禾{% endblock %}

{% block headstyle %}

.list-group {
    margin-top: 10px;
}

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-md-6 col-xs-6">-->
                <!--<a href="p/ge"><button>ge水系列</button></a>-->
            <!--</div>-->
            <div class="col-md-12 col-xs-12">
                <div class="list-group">
                    <a href="p/ge" class="list-group-item">
                        GE水系列
                    </a>
                    <a href="p/lg" class="list-group-item">台湾乐奇</a>
                    <a href="m" class="list-group-item">官方维保</a>
                    <a href="o" class="list-group-item">合作伙伴</a>
                    <a href="admin" class="list-group-item">后台管理</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
