{% extends "bootstrap.html" %}

{% load staticfiles %}

{% block headstyle %}
.panel {
    margin-top: 20px;
}

.btn-submit {
    float: right;
}
{% endblock %}

{% block title %}合作伙伴登录{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">填写真实姓名和手机号</div>
                    <div class="panel-body query">
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> Better check yourself, you're not looking too good.
                            <span class="alert-detail"><strong>警告!</strong><span class="alert-text">请填写完整信息</span></span>
                        </div>
                        <!--{% if errors %}-->
                            <!--<ul>-->
                                <!--{% for error in errors %}-->
                                <!--<li>{{ error }}</li>-->
                                <!--{% endfor %}-->
                            <!--</ul>-->
                        <!--{% endif %}-->
                        <form role="form" action="" method="post">
                            <div class="form-group has-warning form-group-owner">
                                <label class="sr-only" for=".input-owner">姓名</label>
                                <div class="input-group input-owner">
                                    <span class="input-group-addon"><li class="glyphicon glyphicon-user"></li></span>
                                    <input type="text" class="form-control" name="name" placeholder="姓名">
                                    <span class="input-group-addon">*</span>
                                </div>
                            </div>
                            <div class="form-group has-warning form-group-phone">
                                <label class="sr-only" for=".input-phone">手机号</label>
                                <div class="input-group input-phone">
                                    <span class="input-group-addon"><li class="glyphicon glyphicon-phone"></li></span>
                                    <input type="text" class="form-control" name="phone" placeholder="手机号">
                                    <span class="input-group-addon">*</span>
                                </div>
                            </div>
                            <div class="form-group has-warning form-group-openid hidden">
                                <!--<label class="sr-only" for=".input-phone">openid</label>-->
                                <div class="input-group input-openid">
                                    <!--<span class="input-group-addon"><li class="glyphicon glyphicon-phone"></li></span>-->
                                    <input type="text" class="form-control" name="openid" placeholder="openid" value="{{ openid }}">
                                    <!--<span class="input-group-addon">*</span>-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-submit">登录</button>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="modal fade modal-feedback" tabindex="-1" role="dialog" aria-hidden="true">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--&lt;!&ndash;<button type="button" class="close" data-dismiss="modal">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span aria-hidden="true">&times;</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="sr-only">Close</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--<h3 class="modal-title">官方维保提交结果</h3>-->
                <!--</div>-->
                <!--<div class="modal-body modal-body-feedback">-->
                    <!--&lt;!&ndash;<p>你的维保申请已提交成功，工作人员正在处理。</p>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<div class="btn-group">-->
                        <!--<button type="button" class="btn btn-warning btn-sm btn-cancel-feedback">确认-->
                            <!--&lt;!&ndash;<i class="glyphicon glyphicon-ok"></i>&ndash;&gt;-->
                        <!--</button>-->
                        <!--&lt;!&ndash;<button type="button" class="btn btn-warning btn-sm btn-cancel">取消&ndash;&gt;-->
                            <!--&lt;!&ndash;<i class="glyphicon glyphicon-remove"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

{% endblock %}

{% block bodyscript %}
    <script type="text/javascript">
        $(function(){
            // 登录
            $(".btn-submit").click(function(e){
                // 姓名
                var name = $(".input-owner input")[0].value;
                var phone = $(".input-phone input")[0].value;
                var openid = $(".input-openid input")[0].value;

                $.ajax({
                    type:"post",
                    url:"login",
                    data:{"name": name, "phone": phone, "openid": openid},
                    dataType:"json",
                    async:true,
                    success:function(data){
                        switch (data.errcode) {
                            case 0:
                                // 重定向
                                break;
                            case 1:
                                $(".alert-detail strong").text("提示！");
                                $(".alert-text").text("这组没有用户");
                                $(".alert").removeClass("hidden");
                                setTimeout('$(".alert").alert("close")',3000)
                                break;
                            default:
                                break;
                        }
                    },
                });
            });
        })
    </script>
{% endblock %}
