<div class="modal fade modal-feedback" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">维保提交</h3>
            </div>
            <div class="modal-body">
                <p>你的维保申请已提交成功，工作人员正在处理。</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-warning btn-sm btn-cancel-cancel">确认
                        <!--<i class="glyphicon glyphicon-ok"></i>-->
                    </button>
                    <!--<button type="button" class="btn btn-warning btn-sm btn-cancel">取消-->
                        <!--<i class="glyphicon glyphicon-remove"></i>-->
                    <!--</button>-->
                </div>
            </div>
        </div>
    </div>
</div>
