{% extends "bootstrap.html" %}

{% load staticfiles %}

{% block headstyle %}
.panel {
    margin-top: 10px;
}

.btn-submit {
    align: right;
}
{% endblock %}

{% block extscript %}
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.zh-CN.js' %}"></script>
{% endblock %}

{% block extcss %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" >
{% endblock %}

{% block title %}官方维保{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">填写维保表单</div>
                    <div class="panel-body query">
                        <form role="form">
                            <div class="form-group has-warning form-group-owner">
                                <label class="sr-only" for=".input-owner">姓名</label>
                                <div class="input-group input-owner">
                                    <span class="input-group-addon"><li class="glyphicon glyphicon-user"></li></span>
                                    <input type="text" class="form-control" placeholder="姓名">
                                    <span class="input-group-addon">*</span>
                                </div>
                            </div>

                            <div class="form-group has-warning form-group-owner">
                                <label class="sr-only" for=".input-owner">手机号</label>
                                <div class="input-group input-owner">
                                    <span class="input-group-addon"><li class="glyphicon glyphicon-phone"></li></span>
                                    <input type="text" class="form-control" placeholder="手机号">
                                    <span class="input-group-addon">*</span>
                                </div>
                            </div>

                            <div class="form-group has-warning form-group-owner">
                                <label class="sr-only" for=".input-address">安装地址</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                    <!--<input type="text" class="form-control" placeholder=".col-xs-2">-->
                                        <label class="sr-only" for=".input-owner">省</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <label class="sr-only" for=".input-owner">市</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <label class="sr-only" for=".input-owner">区/县</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group has-warning form-group-owner fixed-date">
                                <div class="input-append date" id="filter-date-from" data-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control input-sm" placeholder="安装时间" readonly>
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                            <!--{% if numbers %}-->
                            <!--<ul class="list-group">-->
                                <!--{% for number in numbers %}-->
                                <!--<li class="list-group-item">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-xs-5">-->
                                            <!--<h6>number:{{ number }}</h6>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-7">-->
                                            <!--<div class="input-group">-->
                                                <!--<span class="input-group-btn">-->
                                                <!--<button class="btn btn-default" type="button">-</button>-->
                                                <!--</span>-->
                                                <!--<input type="text" class="form-control" placeholder="1" value="1">-->
                                                <!--<span class="input-group-btn">-->
                                                <!--<button class="btn btn-default" type="button">+</button>-->
                                                <!--</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--{% endfor %}-->
                            <!--</ul>-->
                            <!--{% endif %}-->

                            <button type="button" class="btn btn-success" data-toggle="modal" data-target=".modal" aria-label="Left Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>选择产品型号
                            </button>
                            <hr />
                            <button type="submit" class="btn btn-success btn-submit">
                                提交维保
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!--<button type="button" class="btn btn-default" data-toggle="modal" data-target=".modal">modal</button>-->
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title">选择型号</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>GE水系列</h4>
                        </div>
                        {% for tr in appliance %}
                        <div class="col-xs-6">
                            <div class="checkbox">
                                <label><input type="checkbox">{{ tr.0 }}</label>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-xs-12">
                            <h4>乐奇电器</h4>
                        </div>
                        {% for tr in equipment %}
                        <div class="col-xs-6">
                            <div class="checkbox">
                                <label><input type="checkbox">{{ tr.0 }}</label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger btn-sm btn-confirm">确认
                            <!--<i class="glyphicon glyphicon-ok"></i>-->
                        </button>
                        <button type="button" class="btn btn-warning btn-sm btn-cancel">取消
                            <!--<i class="glyphicon glyphicon-remove"></i>-->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bodyscript %}
    <script type="text/javascript">
        $(function(){
            $("#filter-date-from").datetimepicker({language:"zh-CN", pickerPosition:"bottom-right", autoclose:true, keyboardNavigation:true, minView:2});

            $(".btn-cancel").click(function(e){
                $(".modal").modal("hide");
            });

            $(".btn-confirm").click(function(e){
                var numbers = Array();
                //所有选中的型号
                $.each($(":checkbox:checked"), function(i, item){
                    number = $(this).parent().text();
                    numbers.push(number);
                });
                $(".modal").modal("hide");
                $.ajax({
                    type:"post",
                    url:"m",
                    data:{"numbers":numbers},
                    dataType:"html",
                    async:true,
                    success:function(data){
                        if(data.length > 0)
                        {
                            $(".list-group").remove();
                            $(".fixed-date").after(data);
                        }
                    },
                });
            });

            $(".btn-submit").click(function(e){

            });
        })
    </script>
{% endblock %}
