{% extends "bootstrap.html" %}

{% block headstyle %}

.panel {
    margin-top: 10px;
}

{% endblock %}

{% block title %}订单提交结果{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">微信支付</div>
                    <div class="panel-body query">
                        <p>
                            你的订单已提交成功，现在您可以选择微信支付。
                        </p>
                        <br />
                        <button type="button" class="btn btn-success btn-pay">
                            微信支付
                        </button>
                        <button type="button" class="btn btn-success btn-future">
                            退出
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block bodyscript %}
    <script type="text/javascript">
        $(function(){
            $(".btn-pay").click(function(e){
                //alert("prepay_id={{ signature_order.prepay_id }}" + "-" + "{{ signature_order.timestamp }}" + "-" + "{{ signature_order.nonce_str }}" + "-" + "{{ signature_order.sign }}")
                wx.chooseWXPay({
                    timestamp: signature_order.timestamp,
                    nonceStr: '{{ signature_order.nonce_str }}',
                    package: 'prepay_id={{ signature_order.prepay_id }}', // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                    signType: 'MD5',
                    paySign: '{{ signature_order.sign }}',
                    success: function (res) {
                        // 支付成功后的回调函数
                    }
                });
            });

            $(".btn-future").click(function(e){
                wx.closeWindow();
            });

            wx.config({
                debug: true,
                appId: '{{ signature.appid }}',
                timestamp: '{{ signature.timestamp }}',
                nonceStr: '{{ signature.noncestr }}',
                signature: '{{ signature.signature }}',
                jsApiList: ['closeWindow', 'chooseWXPay']
            });
        })
    </script>
{% endblock %}