{% extends "bootstrap.html" %}

{% block title %}订单提交结果{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">微信支付</div>
                    <div class="panel-body query">
                        <p>
                            你的订单已提交成功，现在您可以选择微信支付。
                        </p>
                        <br />
                        <button type="button" class="btn btn-success btn-pay">
                            微信支付
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}