{% extends "bootstrap.html" %}

{% block title %}支付成功{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">支付成功</div>
                    <div class="panel-body query">
                        <p>
                           恭喜你，您的订单已经支付成功。稍候我们的工作人员会联系您安排发货，请您耐心等候。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}